= content_for :subheader do
  %h1.page-title= t('post.many')

- if @posts.count > 0
  - @posts.each do |post|
    .row
      .columns.four
        = link_to cl_image_tag(post.images.first.attachment_url(:post_thumb), class: "responsive-img border-radius8 box-shadow-f"), post if post.images.count > 0
      .columns.eleven
        %br
        %h4= link_to truncate(post.title, length: 75, separator: ' '), post
        %p.align-left= truncate(post.description, length: 190, separator: ' ')
    %hr
    %br

- else
  %p= t('post.empty')
