= content_for :subheader do
  %h1.page-title= t('contact.title')

= form_for @contact, url: contact_path, html: { :novalidate => '' } do |f|
  .row
    .columns.seven
      %h3= t('contact.sender')
      %p
        = f.label :name, t('name')
        %span.required *
        %br
        = f.text_field :name, class: 'required', placeholder: "Feiyue Solar", type: "email"
      %p
        = f.label :email, t('email')
        %span.required *
        %br
        = f.email_field :email, class: 'required email', placeholder: "example@feiyuesolar.nl"
      %p
        = f.label :phone, t('phone')
        %br
        = f.text_field :phone, class: 'required', placeholder: "+31794213453".phony_formatted!(format: :international)
      %p
        = f.label :address, t('address')
        %br
        = f.text_field :address, class: 'required', placeholder: "Enschedesestraat 6A 7575 AB Oldenzaal"
      %p
        = f.label :question, t('contact.your_question')
        %br
        = f.text_area :question, rows: 2, cols: 23

    .columns.eight
      = image_tag "zon-feiyue-410.jpg", class: "responsive-img"
      %ul#zone-list
        %li
          %strong.orange Ervaring
          en
          %strong.orange inkoopvoordeel
          door de realisatie van meer dan 5.000 zonne-installaties in Denemarken, Zweden en  Nederland binnen 2 jaar.
        %li
          Zonnepanelen met
          %strong.orange 25 jaar verzekerde garantie
          op rendement met zonne-energie.
        %li
          Onze producten zijn van een
          %strong.orange goede kwaliteit
          en zijn veelal als best getest door het Duitse onafhankelijke
          %strong.orange Photon Laboratory.
        %li
          Uw
          %strong.orange maatschappelijk verantwoorde winstgevende investering
          met een
          %strong.orange terugverdientijd vanaf 5 jaar.

      %small
        %span.required *
        is verplicht voor een reactie

  .row
    %h3
      = t('contact.building_dim')
      %small.orange= t('contact.value_in_m')
  .row
    .columns.seven
      = image_tag "building_dim.png", class: "responsive-img"
    .columns.eight#house-size
      .row
        %span A:
        = f.text_field :asize, type: "number", class: "house-input small-input"
        .house-slider
      .row
        %span B:
        = f.text_field :bsize, type: "number", class: "house-input small-input"
        .house-slider
      .row
        %span C:
        = f.text_field :csize, type: "number", class: "house-input small-input"
        .house-slider
      .row
        %span D:
        = f.text_field :dsize, type: "number", class: "house-input small-input"
        .house-slider
      .row
        %span E:
        = f.text_field :esize, type: "number", class: "house-input small-input"
        .house-slider

  .row
    .columns.nine
      %h3= t('contact.roof')
      = f.radio_button "roof", "flat"
      = label :contact_roof, t('contact.flat')
      = f.radio_button "roof", "tiled"
      = label :contact_roof, t('contact.tiled')
      = f.radio_button "roof", "other"
      = label :contact_roof, t('contact.other')

      %h3= t('contact.installation_size')
      %p
        = f.text_field :size, type: 'number'
        kWh

    .columns.six
      %h3= t('contact.house_orientation')
      = f.radio_button "orientation", "south"
      = label :contact_orientation, t('south').downcase
      %br
      = f.radio_button "orientation", "east"
      = label :contact_orientation, t('east').downcase
      %br
      = f.radio_button "orientation", "west"
      = label :contact_orientation, t('west').downcase
      %br
      = f.radio_button "orientation", "north"
      = label :contact_orientation, t('north').downcase
  .row
    .center= t('contact.note')
  .row
    .center= f.submit t('contact.submit'), id: 'contact_submit', title: t('contact.submit')
