= "#{t('welcome')} Feiyue Solar, #{@contact.name}!"
= t('user_mailer.confirm_contact')
= t('user_mailer.response')
= "#{t('email')}: #{@contact.email}"
= "#{t('phone')}: #{@contact.phone}"
= t('user_mailer.regards')
