= content_for :page_title do
  = t('contact.from')

- if @contacts.count > 0
  %table#contacts-table.display
    %thead
      %th= t(:name)
      %th= t(:phone)
      %th= t(:email)
      %th= t(:address)
      %th= t(:created_at)
      %th.actions
    %tbody
      = render @contacts
- else
  %p No contact requests.
