= render partial: 'spree/admin/shared/product_sub_menu'
= render partial: 'spree/admin/shared/product_tabs', locals: { current: 'Images' }
= render partial: 'spree/shared/error_messages', locals: { target: @image }

= content_for :page_actions do
  %li= button_link_to Spree.t(:back_to_images_list), admin_product_images_url(@product), icon: 'icon-arrow-left'

= form_for [:admin, @product, @image], html: { multipart: true } do |f|
  %fieldset{ data: { hook: "edit_image" } }
    %legend{ align: "center" }= @image.file_name
    .field.alpha.three.columns.align-center{ data: { hook: "thumbnail" } }
      = f.label Spree.t(:thumbnail)
      %br
      = link_to image_tag(@image.attachment.url(:small)), @image.attachment.url(:product)
    .nine.columns.omega
      = render partial: 'form', locals: { f: f }
    .clear
    .form-buttons.filter-actions.actions{ data: { hook: "buttons" } }
      = button Spree.t('actions.update'), 'icon-refresh'
      %span.or= Spree.t(:or)
      = link_to Spree.t('actions.cancel'), admin_product_images_url(@product), id: 'cancel_link', class: 'button icon-remove'
